html, body { height: 100%; color: white; }

::selection {
	background: #666; /* Safari */
	}
::-moz-selection {
	background: #666; /* Firefox */
}

ul {
	list-style-type: none;
}

a {
	text-decoration:none;
}

body {
    font-family: 'Helvetica Neue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-shadow: none;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0em;
    word-spacing: 0em;
    line-height: 1.4;
	background-color: white;
	margin: 0px;
	padding: 0px;
	background: url('images/background4.png') repeat-y center;
}

/* -------------------------------------------------------------------------------------------------
----------------						HEADER						--------------------------------
-----------------------------------------------------------------------------------------------------*/

#header{
	margin-bottom: 60px;
	padding-top: 1%;
	height: 80px;
	background: url('images/background.png') repeat center;
	text-align: center;
	
	-moz-box-shadow: 5px 5px 20px #000;
    -webkit-box-shadow: 5px 5px 20px #000;
    box-shadow: 5px 5px 20px #000;
}

#header .alerte{
	float: right;
	margin-top: -86px;
	margin-right: 8%;
}

#header .retourTdB{
	float: left;
	position: absolute;
	margin-left: 12%;
	margin-top: 3%;
}

/* -------------------------------------------------------------------------------------------------
----------------						WRAPPER						--------------------------------
-----------------------------------------------------------------------------------------------------*/

#wrapper {
    height: auto;
    min-height: 101%; /* have scroll bar always there, so things won't jump around */
	margin: 0px;
	padding: 0px;
}

/* -------------------------------------------------------------------------------------------------
----------------						LOGIN						--------------------------------
-----------------------------------------------------------------------------------------------------*/

#login{
	text-align: center;
	margin: auto;
	width: 40%;
	height: 250px;
	background: url('images/background2.png') repeat center;
	
	margin-top: 10%;
	padding-top: 2%;
	border: solid black 1.2px;
	
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#login h2{
	text-align: center;
}

#login input{
	margin-top: 2px;
	margin-bottom: 2px;
	position: relative;
	
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	
	/*Permet d'afficher les ombres porter*/
	box-shadow:2px 2px 10px gray;
	-moz-box-shadow:2px 2px 10px gray;
	-webkit-box-shadow:2px 2px 10px gray;
}

#login label {
	display: block;
    margin: 2px 2px 2px 2px;
	position: relative;
}

.submit_login {
	padding: 0px 8px 0px 8px;
	position: relative;
}

.submit_login:hover {
	cursor: pointer;
	background-color: grey;
}


/* -------------------------------------------------------------------------------------------------
----------------						INDEX						--------------------------------
-----------------------------------------------------------------------------------------------------*/

#resume,#sensors{
	margin: auto;
	width: 80%;
	height: 250px;
	background: url('images/background2.png') repeat center;
	
	margin-bottom: 20px;
	
	padding-top: 2%;
	border: solid black 1.2px;
	
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#resume .chambre{
	margin: auto;
	width: 90%;
	height: 220px;
	margin-bottom: 20px;
	
	padding-top: 2%;
}

#resume figure{
	margin-left: 0px;
}

#resume img{
	-webkit-box-reflect: below 3px
	-webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(white));
	/*TODO: verifier la taille image*/
	float: left;
	margin: 0 6px 6px 0;
}

#resume h2{
	text-align: center;
	margin-top: -2px;
	margin-bottom: -6px;
}

.meteo, .etat{
	height: 250px;
	max-height: 80%;
	max-width: 80%;
	float:left;
	border: solid black 1px;
	width: 45%;
	
	padding-left: 1%;
}

.meteo{
	margin-left: 3%;
	margin-right: 3%;
	
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.etat{
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}


#liste_chambres{
	border: solid black 1.2px;
	float: top;
	position: relative;
	margin: auto;
	width: 80%;
	background-color: rgb(56, 56, 56);
	background: url('images/background2.png') repeat center;
	
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/*	OPTIONNEL : carte de l'hopital en JS 
*/
#carte{
	border: solid black 2px;
	width: 80%;
	height: 200px;
	float: top;
	position: relative;
	margin-bottom: 3%;
	margin-left: 10%;
}

/* -------------------------------------------------------------------------------------------------
----------------						ROOM						--------------------------------
-----------------------------------------------------------------------------------------------------*/

#liste_patients{
	border: solid black 1.2px;
	float: top;
	position: relative;
	margin: auto;
	width: 80%;
	background-color: rgb(56, 56, 56);
	background: url('images/background2.png') repeat center;
	
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
	
	-moz-box-shadow: 5px 5px 20px #000;
    -webkit-box-shadow: 5px 5px 20px #000;
    box-shadow: 5px 5px 20px #000;
}

#liste_patients h2{
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
	text-align: center;
}

#liste_patients ol{
	list-style-type: none;
	background: url('images/background2.png') repeat center;
}

.patient, #liste_patients{
	opacity: 0.9;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.patient{
	background: url('images/background2.png') repeat center;
	padding-left: 2%;
	width: 28%;
	margin-right: 2%;
	margin-bottom: 2%;
	float: left;

	-moz-box-shadow: 5px 5px 20px #000;
    -webkit-box-shadow: 5px 5px 20px #000;
    box-shadow: 5px 5px 20px #000;
	border: solid black 1px;
	
}

/* -------------------------------------------------------------------------------------------------
----------------						NOTIFICATIONS				--------------------------------
-----------------------------------------------------------------------------------------------------*/


#notifications {
	float: top;
	position: relative;
	margin: auto;
	margin-bottom: 2%;
	width: 80%;
	height: 100%;
	overflow-y: scroll;
	
	background: url('images/background2_bis.png') repeat center;
	
	-moz-box-shadow: 5px 5px 20px #000;
    -webkit-box-shadow: 5px 5px 20px #000;
    box-shadow: 5px 5px 20px #000;
	
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
	
	border: 1px solid black;	
}

#notifications a:link{
	text-decoration: none;
}

#notifications h2{
	text-align: center;
	color: white;
}

#notifications ol{
	height: 100%;
	list-style-type: none;
}

summary{
	Font-size: 20px;
}

.info, .warning{
	padding: 1em; margin: 1.5em 0 auto 1.5em;
    background-color: #ffffff;
    color: #000;
	opacity: 0.9;
	
	white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;

    -moz-box-shadow: 5px 5px 20px #000;
    -webkit-box-shadow: 5px 5px 20px #000;
    box-shadow: 5px 5px 20px #000;
	margin: 10px;
	margin-right: 40px;
}

.info {
	/*background-color: #fef185;*/
	background: url('images/info.png') repeat center;
}

.warning {
	/*background-color: #d95a5a;*/
	background: url('images/warning.png') repeat center;
}

/* -------------------------------------------------------------------------------------------------
----------------						STATS						--------------------------------
-----------------------------------------------------------------------------------------------------*/


#stats{
	float: top;
	position: relative;
	margin: auto;
	margin-bottom: 2%;
	width: 80%;
	height: 100%;
	overflow-y: scroll;
	
	background: url('images/background2_bis.png') repeat center;
	
	-moz-box-shadow: 5px 5px 20px #000;
    -webkit-box-shadow: 5px 5px 20px #000;
    box-shadow: 5px 5px 20px #000;
	
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
	
	border: solid black 1;	
}

#charts{
	float: top;
	width: 60%;
	left: 20%;
	display: block;
	position: relative;
	margin-top: 2%;
	margin-right: 20%;
	
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#charts h2{
	text-align: center;
}


/* -------------------------------------------------------------------------------------------------
----------------						FOOTER						--------------------------------
-----------------------------------------------------------------------------------------------------*/

footer{
	height: 20px;
	background: url('images/background.png') repeat center;
	text-align: right;
	padding-right: 50px;
	position: absolute;
	bottom: 0px;
}


::-webkit-scrollbar {
	width:15px;
	height:15px;
	background-color: rgb(160,160,160);
	display:none;
}
