<div class="hero-unit">
<h2>Aide de l'application</h2>
<hr />
<blockquote>
	<p>Un problème bien posé est déjà à moitié résolu.</p>
	<small>Régis Aubry</small>
</blockquote>
<h3>Présentation des pages de l'application</h3>
<dl>
	<dt>Accueil</dt>
	<dd>Cette page vous permet de visualiser l'ensemble des chambres. Une carte représentant l'hopital met à disposition de nombreuses mesures et permet également de pouvoir accéder rapidement aux pages des chambres</dd>
	<dt>Chambre</dt>
	<dd>La page chambre permet de visualiser l'ensemble des patients et d'accéder aux fiches patient</dd>
	<dt>Patient</dt>
	<dd>Cette page affiche les mesures associées au patient en temps réel et permet d'afficher des graphiques d'évolution de ces mesures en cliquant sur "historique".</dd>
	<dt>Notifications</dt>
	<dd>Cette page affiche un historique des notifications reçues depuis plusieurs heures.</dd>
	<dt>Aide</dt>
	<dd>Cette page est celle que vous lisez actuellement.</dd>
</dl>
</div>
