<div class="page-header">
	<div class="row">
		<div class="span1">
			<img src="images/logo.png" alt="RiTHM" />
		</div>
		<div class="span11">
			<h1>Tableau de bord RiTHM</h1>
			<p>À partir de cette page, vous pouvez visualiser l'ensemble de l'hopital.</p>
		</div>
	</div>
</div>

<div class="row">

<nav class="span2">
	<ul class="nav nav-list">
		<li class="nav-header">
			Mesures
		</li>
		<li class="active">
			<a href="#" id = "menu_3" value = "3">Temperature</a>
		</li>
		<li>
			<a href="#" id = "menu_4" value = "4">Humidity</a>
		</li>
		<li>
			<a href="#" id = "menu_5" value = "5">Luminosity</a>
		</li>
		<li>
			<a href="#" id = "menu_6" value = "6">CO2 Level</a>
		</li>
	</ul> 
	<div>
		<canvas id="scale"></canvas>
	</div>
</nav>


<section class="span10">
	<div id="buildingContainer" ></div>
</section>


</div>
