<div class="page-header">
	<div class="row">
		<div class="span1">
			<img src="images/logo.png" alt="RiTHM" />
		</div>
		<div class="span11">
			<h2>Authentification</h2>
			<form class="well form-vertical" action="/auth" method="post">
				<p>
				<% if (next != null) { %>
					<input type="hidden" name="next" value="<%= next %>" />
				<% } %>
				
				<% if (error != null) { %>
					<p><%= error %></p>
				<% } %>
				<input type="text" class="input-medium" name="login" required="required" placeholder="Login"/><br />
				<input type="password" class="input-medium" name="password" required="required" placeholder="Password"/><br />
				<button type="submit" class="btn-primary">Login</button>
				</p>
			</form>
		</div>
	</div>
</div>

<div class="row">

<section class="span10">
	<div id="buildingContainer" >		
	</div>
</section>

</div>
