<ul class="breadcrumb">
	<li>
		<a href="index">Home</a> <span class="divider">/</span>
	</li>
	<li>
		<a href="room?id=<%= patientDetails.idPiece %>">Chambre</a> <span class="divider">/</span>
	</li>
		<li class="active">
		<a href="#">Patient</a>
	</li>
</ul>

<div class="hero-unit">
<h2>Patient : <%= patientDetails.nom %></h2>
<p>
	<span class="label"><%= patientDetails.isMan ? "Homme" : "Femme" %></span>
	<span class="label label-info"><%= patientDetails.raisonHospitalisation %></span>
</p>

<hr />

<h3>Liste des capteurs du patient</h3>
<table class="table table-condensed">
    <thead>
        <tr>
        <th>Capteur</th>
        <th>Valeur</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td><i class="icon-user"></i>&nbsp;Arnal</td>
        <td>Ch213</td>
        </tr>
        <tr>
        <td><i class="icon-user"></i>&nbsp;Arnal</td>
        <td>Ch213</td>
        </tr>
        <tr>
        <td><i class="icon-user"></i>&nbsp;Arnal</td>
        <td>Ch213</td>
        </tr>
        <tr>
        <td><i class="icon-user"></i>&nbsp;Arnal</td>
        <td>Ch213</td>
        </tr>
    </tbody>
</table>
</div>
